@font-face {
  font-family: myFirstFont;
  src: url(../Fonts/NunitoSans-Regular.ttf);
}
a {
  text-decoration: none;
  color: #000;
}
.wrapper {
  box-sizing: border-box;
  width: 100%;
  font-family: myFirstFont;
}
h2 {
  font-size: 34px;
  line-height: 40px;
  margin: 0;
  font-weight: 900;
}
p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h3,
h4 {
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  font-weight: 900;
}
header {
  display: flex;
  font-size: 16px;
  line-height: 24px;
  flex-direction: row;
  justify-content: space-between;
  // .navigation {
  //   display: none;
  // }
  nav {
    padding: 28px 24px;
  }
  a {
    padding: 24px 16px 16px;
    margin-right: 16px;
    margin-left: 16px;
  }
}
section {
  .block-content {
    width: 100%;
    padding: 0 12px;
    box-sizing: border-box;
    background-color: #2eb875;
    color: white;
  }

  h1 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 32px;
    margin-right: 24px;
    word-break: break-word;
  }
  p {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding: 1em 0 1em 0;
  }
  .appStory {
    max-width: 100%;
    justify-content: center;
    flex-direction: column;
    display: flex;
  }

  .bg-image {
    background-image: url(../IMG/index-header.jpg);
    width: 100%;
    background-position: 50%;
    background-size: cover;
    padding-top: 55.56%;
  }
}

.appStory > img {
  height: 60px;
  object-fit: scale-down;
}

.bolt-AppStories {
  background: #2eb875;
  text-align: center;
  color: #f4f4f6;
  a {
    color: #f4f4f6;
    text-decoration: underline;
  }

  p {
    margin-top: 16px;
    padding-bottom: 40px;
  }
  h2 {
    margin-top: 40px;
    padding-top: 40px;
  }
}

.features,
.bolt-services {
  .features-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 56px;
  }
  .content {
    max-width: 50%;
    p {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
article {
  .drive {
    width: 100%;
    background-color: #6675ff;
    color: white;
    text-align: center;

    .block-content {
      margin-bottom: 32px;
      padding: 24px 24px 32px 24px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 16px;
    }
    button {
      display: inline-block;
      text-align: center;
      border-radius: 100px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      font-weight: 700;
      padding-left: 24px;
      padding-right: 24px;
      padding-top: 12px;
      padding-bottom: 12px;
      margin-top: 8px;
      background-color: #fff;
      box-shadow: 0 5px 12px rgba(47, 49, 63, 0.04),
        0 2px 6px rgba(47, 49, 63, 0.06), 0 1px 2px rgba(47, 49, 63, 0.05);
    }
  }

  .features {
    display: flex;
    flex-direction: column;
    width: 100%;

    img {
      max-width: 50%;
      width: 80px;
      height: 80px;
    }

    .content {
      h3,
      h4 {
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        margin: 0;
      }
    }
  }
}
.bolt-services {
  padding: 0 24px;
  .features-item {
    justify-content: center;
    img {
      width: 24px;
      height: 24px;
      padding: 12px;
      border-radius: 40px;
      display: block;
      margin-right: 24px;
    }
  }
}
aside {
  width: 100%;
  .phone-block {
    overflow: hidden;
    .cointainer {
      position: relative;
      padding: 0;
    }

    .img-cover {
      position: relative;
      margin: auto;
      width: 100%;
      height: 126vw;
      max-height: 749px;
      background-image: url(../IMG/index-phone.png);
      background-position: 50%;
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 2;
    }
    .TopBg-circle {
      top: 100px;
      right: -95px;
      height: 150px;
      width: 150px;
      background-color: #d9fde5;
      position: absolute;
      border-radius: 50%;
      z-index: 0;
    }
    .BottomBg-circle {
      top: 176px;
      left: -180px;
      height: 530px;
      width: 530px;
      background-color: #d9fde5;
      position: absolute;
      border-radius: 50%;
      z-index: 0;
    }
    .block-content {
      z-index: 1;
      position: relative;
      padding-left: 12px;
      padding-right: 12px;
      margin-bottom: 80px;
      p {
        margin-top: 16px;
        margin-bottom: 16px;
      }
    }
  }
  .bolt-services {
    .features-item {
      margin-top: 16px;
      .content {
        p {
          margin-bottom: 16px;
          margin-top: 8px;
          line-height: 24px;
        }
      }
      img {
        width: 24px;
        padding: 12px;
        border-radius: 40px;
        background-color: #d9fde5;
      }
    }
  }
}
.appStory {
  max-width: 100%;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
footer {
  background-color: #f4f4f6;
  padding: 0 12px;
  padding-bottom: 40px;
  .footer-section {
    padding-top: 40px;
  }
  .language-switcher {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    margin-top: 24px;
  }
  .social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    img {
      padding-left: 15px;
    }
  }
}
.footer-nav {
  h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
    color: #2f313f;
  }
  .aboutUs {
    padding-bottom: 40px;
  }
  .products,
  .aboutUs {
    margin-top: 48px;
  }
}
.products > ul {
  list-style-type: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.products > ul > li,
.aboutUs > ul > li {
  margin-top: 24px;
}
.social > {
  .policy {
    margin-top: 24px;
    text-align: center;
    a {
      margin-top: 24px;
      display: block;
    }
  }
}

@media screen and (min-width: 768px) {
  article {
    .features {
      .features-item {
        display: flex;
        flex-direction: column;
        width: 33.33333%;
        max-width: 480px;

        img {
          margin: 0 auto;
          width: 140px;
          height: 140px;
        }
        .content {
          margin: 0 auto;
        }
      }
    }
  }
  article > .features,
  .bolt-services {
    display: flex;
    flex-direction: row;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .footer-section {
    width: 50%;
  }
  .footer-nav {
    display: flex;
    flex-direction: row;
    max-width: 50%;
    width: 50%;
    .products,
    .aboutUs {
      width: 50%;
    }
  }
  .social {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-top: 80px;
    .policy {
      display: flex;
      flex-direction: row;
      margin: 0;
      a {
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
  aside {
    .bolt-services {
      justify-content: center;
      .features-item {
        display: flex;
        flex-direction: column;
      }
    }

    .bolt-AppStories {
      .appStory {
        margin-top: 32px;
      }
      p {
        padding-top: 36px;
      }
      h2 {
        font-size: 48px;
        line-height: 56px;
        padding-top: 100px;
        color: white;
        font-weight: bold;
      }
    }
  }
}

.navigation {
  display: none;
}

@media screen and (min-width: 450px) {
  .appStory {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (min-width: 960px) {
  aside {
    .phone-block {
      .cointainer {
        .img-cover {
          position: absolute;
          top: -235px;
          right: 20px;
          width: 769px;
          max-width: 55%;
          height: 749px;
        }
      }
    }
  }
  article {
    .drive {
      .block-content {
        padding-top: 84px;
        padding-bottom: 84px;
        display: flex;
        flex-direction: row;
        justify-content: center;

        div {
          margin-right: 150px;
        }
      }
    }
    .features {
      display: flex;
      justify-content: center;
      align-items: baseline;
    }
  }

  section {
    min-height: 770px;
    display: flex;
    padding: 0;
    .appStory {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    div {
      width: 50%;
    }
    .block-content {
      h1 {
        margin-top: 176px;
        font-size: 72px;
        line-height: 80px;
        margin-right: 24px;
        margin-left: auto;
        margin-right: auto;
        width: 55%;
      }
    }
  }
  .hamburger-menu {
    display: none;
  }
  .navigation {
    display: block;
    ul {
      display: flex;
      flex-direction: row;
      li {
        font-size: 18px;
        line-height: 27px;
        padding: 26px 16px 27px;
      }
    }
  }
  header {
    justify-content: flex-start;
    padding-left: 180px;
    nav {
      padding: 0;
    }
  }
  .TopBg-circle,
  .BottomBg-circle {
    display: none;
  }

  aside {
    .phone-block {
      display: contents;
      max-width: 1200px;

      .block-content {
        margin-top: 236px;
        padding-top: 140px;
        position: relative;
        padding-bottom: 175px;
        background-color: #d9fde5;
        padding-left: 150px;
        text-align: center;

        h2,
        p {
          width: 50%;
        }
      }
    }

    .bolt-AppStories {
      p,
      span {
        font-size: 18px;
        line-height: 27px;
      }
      p {
        padding-bottom: 100px;
      }
      h2 {
        font-size: 48px;
        line-height: 56px;
        padding-top: 100px;
        color: white;
        font-weight: bold;
      }
    }
  }
  .footer-section {
    padding-left: 150px;
    .appStory {
      display: flex;
      flex-direction: row;
      margin-left: -35px;
      justify-content: flex-start;
    }
  }
}
