@font-face {
  font-family: myFirstFont;
  src: url(../Fonts/NunitoSans-Regular.ttf);
}

a {
  text-decoration: none;
  color: #000;
}

.wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  font-family: myFirstFont;
}

h2 {
  font-size: 34px;
  line-height: 40px;
  margin: 0;
  font-weight: 900;
}

p {
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

h3,
h4 {
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  font-weight: 900;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav {
  padding: 28px 24px;
}

header a {
  padding: 24px 16px 16px;
  margin-right: 16px;
  margin-left: 16px;
}

section .block-content {
  width: 100%;
  padding: 0 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #2eb875;
  color: white;
}

section h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 32px;
  margin-right: 24px;
  word-break: break-word;
}

section p {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 1em 0 1em 0;
}

section .appStory {
  max-width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .bg-image {
  background-image: url(../IMG/index-header.jpg);
  width: 100%;
  background-position: 50%;
  background-size: cover;
  padding-top: 55.56%;
}

.appStory > img {
  height: 60px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.bolt-AppStories {
  background: #2eb875;
  text-align: center;
  color: #f4f4f6;
}

.bolt-AppStories a {
  color: #f4f4f6;
  text-decoration: underline;
}

.bolt-AppStories p {
  margin-top: 16px;
  padding-bottom: 40px;
}

.bolt-AppStories h2 {
  margin-top: 40px;
  padding-top: 40px;
}

.features .features-item,
.bolt-services .features-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 56px;
}

.features .content,
.bolt-services .content {
  max-width: 50%;
}

.features .content p,
.bolt-services .content p {
  font-size: 16px;
  line-height: 24px;
}

article .drive {
  width: 100%;
  background-color: #6675ff;
  color: white;
  text-align: center;
}

article .drive .block-content {
  margin-bottom: 32px;
  padding: 24px 24px 32px 24px;
}

article .drive p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}

article .drive button {
  display: inline-block;
  text-align: center;
  border-radius: 100px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 8px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 12px rgba(47, 49, 63, 0.04), 0 2px 6px rgba(47, 49, 63, 0.06), 0 1px 2px rgba(47, 49, 63, 0.05);
          box-shadow: 0 5px 12px rgba(47, 49, 63, 0.04), 0 2px 6px rgba(47, 49, 63, 0.06), 0 1px 2px rgba(47, 49, 63, 0.05);
}

article .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

article .features img {
  max-width: 50%;
  width: 80px;
  height: 80px;
}

article .features .content h3,
article .features .content h4 {
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}

.bolt-services {
  padding: 0 24px;
}

.bolt-services .features-item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bolt-services .features-item img {
  width: 24px;
  height: 24px;
  padding: 12px;
  border-radius: 40px;
  display: block;
  margin-right: 24px;
}

aside {
  width: 100%;
}

aside .phone-block {
  overflow: hidden;
}

aside .phone-block .cointainer {
  position: relative;
  padding: 0;
}

aside .phone-block .img-cover {
  position: relative;
  margin: auto;
  width: 100%;
  height: 126vw;
  max-height: 749px;
  background-image: url(../IMG/index-phone.png);
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
}

aside .phone-block .TopBg-circle {
  top: 100px;
  right: -95px;
  height: 150px;
  width: 150px;
  background-color: #d9fde5;
  position: absolute;
  border-radius: 50%;
  z-index: 0;
}

aside .phone-block .BottomBg-circle {
  top: 176px;
  left: -180px;
  height: 530px;
  width: 530px;
  background-color: #d9fde5;
  position: absolute;
  border-radius: 50%;
  z-index: 0;
}

aside .phone-block .block-content {
  z-index: 1;
  position: relative;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 80px;
}

aside .phone-block .block-content p {
  margin-top: 16px;
  margin-bottom: 16px;
}

aside .bolt-services .features-item {
  margin-top: 16px;
}

aside .bolt-services .features-item .content p {
  margin-bottom: 16px;
  margin-top: 8px;
  line-height: 24px;
}

aside .bolt-services .features-item img {
  width: 24px;
  padding: 12px;
  border-radius: 40px;
  background-color: #d9fde5;
}

.appStory {
  max-width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer {
  background-color: #f4f4f6;
  padding: 0 12px;
  padding-bottom: 40px;
}

footer .footer-section {
  padding-top: 40px;
}

footer .language-switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 24px;
}

footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .social-media img {
  padding-left: 15px;
}

.footer-nav h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  color: #2f313f;
}

.footer-nav .aboutUs {
  padding-bottom: 40px;
}

.footer-nav .products,
.footer-nav .aboutUs {
  margin-top: 48px;
}

.products > ul {
  list-style-type: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.products > ul > li,
.aboutUs > ul > li {
  margin-top: 24px;
}

.social > .policy {
  margin-top: 24px;
  text-align: center;
}

.social > .policy a {
  margin-top: 24px;
  display: block;
}

@media screen and (min-width: 768px) {
  article .features .features-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 33.33333%;
    max-width: 480px;
  }
  article .features .features-item img {
    margin: 0 auto;
    width: 140px;
    height: 140px;
  }
  article .features .features-item .content {
    margin: 0 auto;
  }
  article > .features,
  .bolt-services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .footer-section {
    width: 50%;
  }
  .footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 50%;
    width: 50%;
  }
  .footer-nav .products,
  .footer-nav .aboutUs {
    width: 50%;
  }
  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 80px;
  }
  .social .policy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
  }
  .social .policy a {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  aside .bolt-services {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  aside .bolt-services .features-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  aside .bolt-AppStories .appStory {
    margin-top: 32px;
  }
  aside .bolt-AppStories p {
    padding-top: 36px;
  }
  aside .bolt-AppStories h2 {
    font-size: 48px;
    line-height: 56px;
    padding-top: 100px;
    color: white;
    font-weight: bold;
  }
}

.navigation {
  display: none;
}

@media screen and (min-width: 450px) {
  .appStory {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 960px) {
  aside .phone-block .cointainer .img-cover {
    position: absolute;
    top: -235px;
    right: 20px;
    width: 769px;
    max-width: 55%;
    height: 749px;
  }
  article .drive .block-content {
    padding-top: 84px;
    padding-bottom: 84px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  article .drive .block-content div {
    margin-right: 150px;
  }
  article .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  section {
    min-height: 770px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
  section .appStory {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section div {
    width: 50%;
  }
  section .block-content h1 {
    margin-top: 176px;
    font-size: 72px;
    line-height: 80px;
    margin-right: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
  }
  .hamburger-menu {
    display: none;
  }
  .navigation {
    display: block;
  }
  .navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navigation ul li {
    font-size: 18px;
    line-height: 27px;
    padding: 26px 16px 27px;
  }
  header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 180px;
  }
  header nav {
    padding: 0;
  }
  .TopBg-circle,
  .BottomBg-circle {
    display: none;
  }
  aside .phone-block {
    display: contents;
    max-width: 1200px;
  }
  aside .phone-block .block-content {
    margin-top: 236px;
    padding-top: 140px;
    position: relative;
    padding-bottom: 175px;
    background-color: #d9fde5;
    padding-left: 150px;
    text-align: center;
  }
  aside .phone-block .block-content h2,
  aside .phone-block .block-content p {
    width: 50%;
  }
  aside .bolt-AppStories p,
  aside .bolt-AppStories span {
    font-size: 18px;
    line-height: 27px;
  }
  aside .bolt-AppStories p {
    padding-bottom: 100px;
  }
  aside .bolt-AppStories h2 {
    font-size: 48px;
    line-height: 56px;
    padding-top: 100px;
    color: white;
    font-weight: bold;
  }
  .footer-section {
    padding-left: 150px;
  }
  .footer-section .appStory {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: -35px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
/*# sourceMappingURL=style.css.map */